{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.album_details'|trans({'%id%': album.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.album_details'|trans({'%id%': album.id|default('')}) }}</h1>
    {% if album is defined and album|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ album.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ album.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ album.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  album.title }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{  album.category.title }}</dd>
        </dl>
        <p>
            <a href="{{ url('album_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}