{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.album_details'|trans({'%id%': album.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.album_details'|trans({'%id%': album.id|default('')}) }}</h1>
    {% if album is defined and album|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ album.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ album.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ album.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  album.title }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{  album.category.title }}</dd>
        </dl>
        <p>
            <a href="{{ url('album_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
        <form method="post" action="{{ path('album_favorite', {id: album.id}) }}">
            <button type="submit">
                {% if user and user.hasFavorited(album) %}
                    ❤️ {{ 'action.unfavorite'|trans }}
                {% else %}
                    🤍 {{ 'action.favorite'|trans }}
                {% endif %}
            </button>
        </form>
        <br>
        <h2>{{ 'title.album_comment'|trans }}</h2>
        {{ form_start(form) }}
        {% if false == form.vars.valid %}
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'danger',
                message: 'message.form_error'|trans,
            }%}
        {% endif %}
        {{ form_widget(form) }}
        <div class="form-group row float-sm-right">
            <input type="submit" value="{{ 'action.post'|trans }}" class="btn btn-primary"/>
        </div>

        <br>
        <h1>{{ 'title.comments'|trans }}</h1>
        {% if album is defined and album|length %}
            <table class="table table-striped">
                {% for comments in comment %}
                    <tr>
                        <td>
                            <h5>{{ comments.user ? comments.user.email : comments.guestNickname }}</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ comments.content }}</td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-outline-danger" href="{{ url('comment_delete', {id: comments.id}) }}" title="{{ 'action.delete'|trans }}">
                                    {{ 'action.delete'|trans }}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}