{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_list'|trans }}
{% endblock %}

{% block body %}
    <h1 class="display-2">{{ 'title.user_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        {% if is_granted('ROLE_USER') %}
            <a class="btn btn-outline-primary bi-arrow-90deg-up" style="float: left" href="{{ url('album_index') }}" title="{{ 'action.album_index'|trans }}">
            </a>
        {% endif %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-responsive">
            <thead>
            <tr>
                <th class="d-none d-md-table-cell">{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'users.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.email'|trans, 'users.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.roles'|trans, 'users.roles') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination.items %}
                {% if app.user.id != user.id %}
                    <tr>
                        <td class="d-none d-md-table-cell">{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.roles|join(', ') }}</td>
                        <td class="action-links">
                            <a class="btn btn-outline-primary" href="{{ url('user_view', {id: user.id}) }}" title="{{ 'action.view'|trans }}">
                                {{ 'action.view'|trans }}
                            </a>
                            <a class="btn btn-outline-success" href="{{ url('user_edit', {id: user.id}) }}" title="{{ 'action.edit'|trans }}">
                                {{ 'action.edit'|trans }}
                            </a>
                            <a class="btn btn-outline-danger" href="{{ url('user_delete', {id: user.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>


    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock  %}